<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>CheapTaps</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/flashes" %>
    <%= yield %>
  </div>
</body>
<%= javascript_include_tag "application" %>
</html>